<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<bean id="moocAspect" class="com.karonda.aop.schema.advice.MoocAspect"></bean>

	<bean id="aspectBiz" class="com.karonda.aop.schema.advice.biz.AspectBiz"></bean>

	<aop:config>
		<aop:aspect id="moocAspectAOP" ref="moocAspect">
			<aop:pointcut expression="execution(* com.karonda.aop.schema.advice.biz.*Biz.*(..))" id="moocPiontcut"/>
			<!--前置通知-->
			<aop:before method="before" pointcut-ref="moocPiontcut"/>
			<!--返回后通知-->
			<aop:after-returning method="afterReturning" pointcut-ref="moocPiontcut"/>
			<!--抛出异常通知-->
			<aop:after-throwing method="afterThrowing" pointcut-ref="moocPiontcut" />
			<!--后通知-->
			<aop:after method="after" pointcut-ref="moocPiontcut"/>
			<!--环绕通知-->
			<aop:around method="around" pointcut-ref="moocPiontcut"/>
			<!--带参数-->
			<aop:around method="aroundInit" pointcut="execution(* com.karonda.aop.schema.advice.biz.AspectBiz.init(String, int))
				and args(bizName, times)"/>

		</aop:aspect>
	</aop:config>

 </beans>
